pre { line-height: 125%; }
td.linenos .normal { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
.snippet .hll { background-color: #2C3B41 }
.snippet { background: #263238; color: #EEFFFF }
.snippet .c { color: #546E7A; font-style: italic } /* Comment */
.snippet .err { color: #FF5370 } /* Error */
.snippet .esc { color: #89DDFF } /* Escape */
.snippet .g { color: #EEFFFF } /* Generic */
.snippet .k { color: #BB80B3 } /* Keyword */
.snippet .l { color: #C3E88D } /* Literal */
.snippet .n { color: #EEFFFF } /* Name */
.snippet .o { color: #89DDFF } /* Operator */
.snippet .p { color: #89DDFF } /* Punctuation */
.snippet .ch { color: #546E7A; font-style: italic } /* Comment.Hashbang */
.snippet .cm { color: #546E7A; font-style: italic } /* Comment.Multiline */
.snippet .cp { color: #546E7A; font-style: italic } /* Comment.Preproc */
.snippet .cpf { color: #546E7A; font-style: italic } /* Comment.PreprocFile */
.snippet .c1 { color: #546E7A; font-style: italic } /* Comment.Single */
.snippet .cs { color: #546E7A; font-style: italic } /* Comment.Special */
.snippet .gd { color: #FF5370 } /* Generic.Deleted */
.snippet .ge { color: #89DDFF } /* Generic.Emph */
.snippet .ges { color: #FFCB6B } /* Generic.EmphStrong */
.snippet .gr { color: #FF5370 } /* Generic.Error */
.snippet .gh { color: #C3E88D } /* Generic.Heading */
.snippet .gi { color: #C3E88D } /* Generic.Inserted */
.snippet .go { color: #546E7A } /* Generic.Output */
.snippet .gp { color: #FFCB6B } /* Generic.Prompt */
.snippet .gs { color: #FF5370 } /* Generic.Strong */
.snippet .gu { color: #89DDFF } /* Generic.Subheading */
.snippet .gt { color: #FF5370 } /* Generic.Traceback */
.snippet .kc { color: #89DDFF } /* Keyword.Constant */
.snippet .kd { color: #BB80B3 } /* Keyword.Declaration */
.snippet .kn { color: #89DDFF; font-style: italic } /* Keyword.Namespace */
.snippet .kp { color: #89DDFF } /* Keyword.Pseudo */
.snippet .kr { color: #BB80B3 } /* Keyword.Reserved */
.snippet .kt { color: #BB80B3 } /* Keyword.Type */
.snippet .ld { color: #C3E88D } /* Literal.Date */
.snippet .m { color: #F78C6C } /* Literal.Number */
.snippet .s { color: #C3E88D } /* Literal.String */
.snippet .na { color: #BB80B3 } /* Name.Attribute */
.snippet .nb { color: #82AAFF } /* Name.Builtin */
.snippet .nc { color: #FFCB6B } /* Name.Class */
.snippet .no { color: #EEFFFF } /* Name.Constant */
.snippet .nd { color: #82AAFF } /* Name.Decorator */
.snippet .ni { color: #89DDFF } /* Name.Entity */
.snippet .ne { color: #FFCB6B } /* Name.Exception */
.snippet .nf { color: #82AAFF } /* Name.Function */
.snippet .nl { color: #82AAFF } /* Name.Label */
.snippet .nn { color: #FFCB6B } /* Name.Namespace */
.snippet .nx { color: #EEFFFF } /* Name.Other */
.snippet .py { color: #FFCB6B } /* Name.Property */
.snippet .nt { color: #FF5370 } /* Name.Tag */
.snippet .nv { color: #89DDFF } /* Name.Variable */
.snippet .ow { color: #89DDFF; font-style: italic } /* Operator.Word */
.snippet .pm { color: #89DDFF } /* Punctuation.Marker */
.snippet .w { color: #EEFFFF } /* Text.Whitespace */
.snippet .mb { color: #F78C6C } /* Literal.Number.Bin */
.snippet .mf { color: #F78C6C } /* Literal.Number.Float */
.snippet .mh { color: #F78C6C } /* Literal.Number.Hex */
.snippet .mi { color: #F78C6C } /* Literal.Number.Integer */
.snippet .mo { color: #F78C6C } /* Literal.Number.Oct */
.snippet .sa { color: #BB80B3 } /* Literal.String.Affix */
.snippet .sb { color: #C3E88D } /* Literal.String.Backtick */
.snippet .sc { color: #C3E88D } /* Literal.String.Char */
.snippet .dl { color: #EEFFFF } /* Literal.String.Delimiter */
.snippet .sd { color: #546E7A; font-style: italic } /* Literal.String.Doc */
.snippet .s2 { color: #C3E88D } /* Literal.String.Double */
.snippet .se { color: #EEFFFF } /* Literal.String.Escape */
.snippet .sh { color: #C3E88D } /* Literal.String.Heredoc */
.snippet .si { color: #89DDFF } /* Literal.String.Interpol */
.snippet .sx { color: #C3E88D } /* Literal.String.Other */
.snippet .sr { color: #89DDFF } /* Literal.String.Regex */
.snippet .s1 { color: #C3E88D } /* Literal.String.Single */
.snippet .ss { color: #89DDFF } /* Literal.String.Symbol */
.snippet .bp { color: #89DDFF } /* Name.Builtin.Pseudo */
.snippet .fm { color: #82AAFF } /* Name.Function.Magic */
.snippet .vc { color: #89DDFF } /* Name.Variable.Class */
.snippet .vg { color: #89DDFF } /* Name.Variable.Global */
.snippet .vi { color: #89DDFF } /* Name.Variable.Instance */
.snippet .vm { color: #82AAFF } /* Name.Variable.Magic */
.snippet .il { color: #F78C6C } /* Literal.Number.Integer.Long */
