/**
 * main.css
 */

@charset "utf-8";

*, ::before, ::after {
	box-sizing: border-box;
}

:root {
	--color: #222;
	--link-color: #22f;
	--link-visited-color: #44f;
}

body {
	color: var(--color);
	font-family: sans-serif;
}

/*-------- overall apppearance --------*/

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--link-visited-color);
}

p {
	text-indent: 1em;
}

