{% extends "base.jinja2" %}

{# some script loads -#}
{% block head %}
<style type="text/css">
	.nav {
		padding-left: 8px !important;
	}

	label[for=sidebar-toggle] {
		display: none;
	}

	.explain-notfound {
		color: var(--fade-color);
		font-size: 85%;
	}

	.notfound-div {
		flex: 1;
	}
</style>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {
		var searchLink = document.getElementById("search-link");
		var subpaths = window.location.pathname.split("/");
		var basename, idx = 0;

		// get the basename, there might trailing /
		while (!(basename && basename.length) && idx < subpaths.length) {
			basename = subpaths[subpaths.length - ++idx];
		}

		// show search link
		if (basename.length) {
			searchLink.href = "/search.html?q=" + basename;
			searchLink.childNodes[0].nodeValue = decodeURIComponent(basename);
		}
	});
</script>
{% endblock %}

{% block content %}
	<div class="notfound-div">
		<h1 class="text-center">404</h1>
		<p class="text-center">Page Not Found</p>

		<p class="text-center explain-notfound">
			This is not the page you're looking for! <br />
			Please check your URL <br />
			Search for: <a id="search-link" href="/search.html">this</a>
		</p>
	</div>
{% endblock %}
