<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>

{% include "components/head.jinja2" %}

{% block head %}{% endblock %}

	</head><body>

{% include "components/nav.jinja2" %}

{% include "components/overlay.jinja2" %}

{% include "components/backtotop.jinja2" %}

<div class="main">
{% block content -%}
	{% include "components/sidebar.jinja2" %}

	<div id="content" class="article">
		{{ content }}
	</div>
{%- endblock %}
</div>

{% include "components/footer.jinja2" %}

	</body>
</html>
