<!doctype html>
{# template for redirected files #}

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>

	<title>Page Moved</title>
	<meta http-equiv="refresh" content="0;url={{ link }}" />

</head><body>

	<p>Redirecting to <a href="{{ link }}">{{ link|safe }}</a> ...</p>

</body></html>
