{# footer for the website -#}

<div class="footer">
  <div class="grid">
    <div class="descr">

      {% include "components/theme.jinja2" %}

      <img alt="logo" type="text/svg+xml" width="128px" height="128px" src="{{ "assets/logo.svg"|url }}" />
      <h1>VYT Docs</h1>
      <p><em>Simply docs.</em></p>
    </div>

    <div class="refs">
      <div>
        <h4>Legal</h4>

        <ul class="no-offset list-style-none">
          <li><a href="{{ "license.html"|url }}">License</a></li>
          <li><a href="{{ "terms.html"|url }}">Terms of Service</a></li>
          <li><a href="{{ "privacy.html"|url }}">Privacy Policy</a></li>
          <li><a href="{{ "cookie.html"|url }}">Cookie Policy</a></li>
          <li><a href="{{ "disclaimer.html"|url }}">Disclaimer</a></li>
        </ul>

      </div>
    </div>
  </div>

  <p>&copy; 2023-2024 <a href="https://github.com/vytdev">VYT</a>. All rights reserved.</p>

  <p>The articles, images, media files, and other forms of creative works within this website are
  licensed under the <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
  CC BY-SA 4.0 License</a>.</p>

  <p>The source code of this website, such as the scripts, stylesheets, and others are separately
  licensed under the <a href="http://www.gnu.org/licenses/gpl-3.0.html" target="_blank">
  GNU GPL v3.0</a>.</p>

</div>
