{# cache and load resources -#}

<!-- preload -->
<link rel="preload" as="font" href="{{ 'assets/fonts/noto_sans/NotoSans-Regular.ttf'|url }}" />
<link rel="preload" as="font" href="{{ 'assets/fonts/source_code_pro/SourceCodePro-Regular.ttf'|url }}" />

<link rel="preload" as="style" type="text/css" href="{{ 'assets/css/fonts.css'|url }}" />
<link rel="preload" as="style" type="text/css" href="{{ 'assets/css/browser.css'|url }}" />
<link rel="preload" as="style" type="text/css" href="{{ 'assets/css/layout.css'|url }}" />

<link rel="preload" as="style" type="text/css" href="{{ 'assets/css/themes/light.css'|url }}" />
<link rel="preload" as="style" type="text/css" href="{{ 'assets/css/themes/default.css'|url }}" />
<link rel="preload" as="style" type="text/css" href="{{ 'assets/css/themes/dark.css'|url }}" />
<link rel="preload" as="style" type="text/css" href="{{ 'assets/css/themes/material.css'|url }}" />

<link rel="preload" as="script" type="text/javascript" href="{{ 'assets/js/util.js'|url }}" />
<link rel="preload" as="image" type="image/x-icon" href="{{ 'favicon.ico'|url }}" />
{% block preloads %}{% endblock %}

<!-- resources -->
<link rel="manifest" href="{{ 'manifest.json'|url }}" />
<link rel="search" type="application/opensearchdescription+xml" href="{{ 'opensearch.xml'|url }}" />

<link rel="stylesheet" type="text/css" href="{{ 'assets/css/fonts.css'|url }}" />
<link rel="stylesheet" type="text/css" href="{{ 'assets/css/browser.css'|url }}" />
<link rel="stylesheet" type="text/css" href="{{ 'assets/css/layout.css'|url }}" />

<link rel="stylesheet" type="text/css" href="{{ 'assets/css/themes/light.css'|url }}" />
<link rel="stylesheet" id="dark-theme" media="(prefers-color-scheme: dark)"
	type="text/css" href="{{ 'assets/css/themes/dark.css'|url }}" />

<script type="text/javascript" src="{{ 'assets/js/util.js'|url }}"></script>
<script type="text/javascript" src="{{ 'assets/suggestions.js'|url }}" defer></script>
{% block resources %}{% endblock %}
