{# theme toggle #}

<div class="theme-dropdown">

	Theme

	<div class="dropdown-content">
		<div id="theme-set-auto">
			Auto
		</div>

		<div id="theme-set-light">
			Light
		</div>

		<div id="theme-set-dark">
			Dark
		</div>
	</div>
</div>
