@charset 'utf-8';
@import 'themes.css';

/* start */

html {
  -webkit-text-size-adjust: 100%; /* For consistent font sizes. */
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-size: 16px;
}

*, ::before, ::after {
  outline: none;
  box-sizing: border-box;
}

.with-js .noscript, .with-js noscript, .no-js .yescript {
  display: none !important;
}

body {
  /* remove the default spaces */
  margin: 0;
  padding: 0;

  /* base theme colours */
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);

  /* fonts */
  line-height: 1.6;
  letter-spacing: 0.012em;
  font-family: var(--font-base);

  /* font rendering options */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}



/* --- Basic elements
 * ------------------------------------------------------------------------- */

blockquote {
  padding: .5em;
  margin: .5em;
  padding-left: 1em;
  margin-left: 1.5em;
  font-size: .95rem;
  color: var(--color-text-secondary);
  border-left: 4px solid var(--color-border);
}

details {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border-muted);
  border-radius: 2px;
  padding: .5em;
}

details > summary {
  padding: .25em;
}

details[open] > summary {
  border-bottom: 1px solid var(--color-border-muted);
  padding-bottom: .75em;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:visited {
  color: var(--color-link-visited);
}

a:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

sup, a.footnote-ref {
  position: relative;
  top: -0.1em;
  font-size: .9m;
}

sub, a.footnote-backref {
  position: relative;
  bottom: -0.1em;
  font-size: .9m;
}

:not(.nohighlight) .highlight:not(.nohighlight), mark {
  background-color: var(--color-highlight);
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
  /*font-style: normal !important;
  transform: skew(-15deg);
  display: inline-block;*/
}

ol, ul {
  line-height: 130%;
}

li {
  margin-bottom: 5px;
  padding: 0;
}

.breadcrumbs {
  font-size: .9em;
}

.breadcrumbs-sep {
  font-color: var(--color-text-secondary);
}



/* --- Headings and permalinks
 * ------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.1rem;
}

h2 {
  font-size: 1.6rem;
}

h3, h4, h5, h6 {
  font-size: 1.1rem;
}

.header-anchor {
  position: relative;
  top: -.8em;
  font-size: .5em;
  display: none;
}

:hover > .header-anchor {
  display: inline-block;
}



/* --- Snippets and inline code
 * ------------------------------------------------------------------------- */

code {
  font-family: var(--font-mono);
  font-size: .9em;
  color: var(--color-code-text);
  background-color: var(--color-code-bg);
  border: 1px solid var(--color-code-border);
  border-radius: 2px;
}

.snippet {
  font-family: var(--font-mono);
  font-size: .95rem;
  max-width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  border: 1px solid var(--color-border-muted);
  border-radius: 2px;
  padding: .25em;
  white-space: pre;
}



/* --- Math
 * ------------------------------------------------------------------------- */

.katex .katex-mathml {
  display: none;
}

.katex {
  color: var(--color-text-primary);
}



/* --- Task lists
 * ------------------------------------------------------------------------- */

.contains-task-list {
  list-style-type: none;
  list-style: none;
  padding-left: 2em;
  margin: .6em 0;
}

.task-list-item {
  margin: .4em 0;
  /* a nice hack... hacks are bad */
  padding-left: 25px;
  text-indent: -25px;
}

.task-list-item-checkbox {
  display: inline-block;
  vertical-align: middle;
}



/* --- Tables
 * ------------------------------------------------------------------------- */

div.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  table-layout: auto;
  min-width: 100%;
}

table, thead, tbody, tr, th, td {
  border: 1px solid var(--color-border-muted);
}

th {
  padding: .5em;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

td {
  padding: .5em;
  font-size: 1rem;
}



/* --- Definition Lists
 * ------------------------------------------------------------------------- */

dt {
  font-size: 1.1rem;
}

dd {
  font-size: 1rem;
  margin-left: 3em;
}



/* --- Collapsible sections (not spoilers)
 * ------------------------------------------------------------------------- */

.with-js .section:not([data-open]):not(:has(:target)) >
  :not(.section-title:first-child)
{
  /* We don't know the display type of some elems.
     Let's use :not([data-open]) */
  display: none;
}

.with-js .section > .section-title:first-child::before {
  content: '▶';
}

.no-js .section > .section-title:first-child::before,
.with-js .section[data-open] > .section-title:first-child::before,
.section:has(:target) > .section-title:first-child::before {
  content: '▼';
}

.section > .section-title:first-child {
  margin-top: 1em;
  font-size: 1.6rem;
  font-weight: 1200;
  padding: .3em;
  border-bottom: 1px solid var(--color-border-muted);
}



/* --- Callouts
 * ------------------------------------------------------------------------- */

div.callout {
  border-left: 3px solid;
  border-left-color: var(--callout-border, var(--color-alert-border));
  padding: .5em;
  width: 95%;
  border-radius: 1px;
  margin: 0 auto;
  margin-top: .25em;
  font-size: .95rem;
}

p.callout-title {
  font-size: 1rem !important;
  font-weight: bold;
  margin: .2em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--callout-border);
  fill: var(--callout-border);
}

div.callout.callout-tip {
  --callout-border: var(--color-tip-border);
}

div.callout.callout-attention {
  --callout-border: var(--color-attention-border);
}

div.callout.callout-danger {
  --callout-border: var(--color-danger-border);

}
div.callout.callout-error {
  --callout-border: var(--color-error-border);
}

div.callout.callout-hint {
  --callout-border: var(--color-hint-border);
}

div.callout.callout-important {
  --callout-border: var(--color-important-border);
}

div.callout.callout-note {
  --callout-border: var(--color-note-border);
}

div.callout.callout-warning {
  --callout-border: var(--color-warning-border);
}

div.callout.callout-caution {
  --callout-border: var(--color-caution-border);
}



/* --- Modals
 * ------------------------------------------------------------------------- */

input[type=checkbox] {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  border: 1px solid var(--color-border-muted);
  background-color: var(--color-bg-secondary);
}

input[type=checkbox]:checked {
  background-color: var(--color-accent);
}

input[type=checkbox]:checked::after {
  position: absolute;
  top: 0;
  left: 3px;
  content: '✔';
  color: var(--color-text-inverse);
  font-size: 10px;
}

select {
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  padding: 2px;
  border: 1px solid var(--color-border);
  border-radius: 6px;
}

button {
  display: block;
  cursor: pointer;
  margin-top: .3em;
  margin-bottom: .3em;
  padding: .3em;
  width: 100%;
  height: 2em;
  border-radius: 2em;
  border: 1px solid var(--color-border);
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

button:hover {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
}

button.primary {
  background-color: var(--color-accent);
  color: var(--color-text-inverse);
}

button.primary:hover {
  background-color: var(--color-accent-hover);
}



/* --- Sidebar contents
 * ------------------------------------------------------------------------- */

.sidebar a {
  color: inherit;
}

.sidebar .theme-chooser {
  display: flex;
  gap: 8px;
  margin-bottom: 1em;
}

.sidebar .theme-chooser > select {
  display: block;
  flex: 1;
}

.key-tag {
  display: inline-block;
  height: 2em;
  text-align: center;
  padding: .3em;
  margin: .4em;
  font-size: .9em;
  color: var(--color-text-secondary);
  border: 1px solid var(--color-border-muted);
  border-radius: 10px;
}

.toc-item {
  margin-left: 1.5em;
  padding-left: 0;
}

.toc-item > a {
  color: inherit;
  padding: .3em;
  padding-left: .8em;
  display: block;
  text-decoration: none;
  border-left: 2px solid transparent;
}

.toc-item > a.current {
  border-left-color: var(--color-accent);
  color: var(--color-accent);
}

.sidebar .article-dates {
  font-size: .85em;
}

.sidebar > a {
  display: block;
  text-decoration: none;
  margin-left: 1.5em;
  padding: .3em;
  padding-left: .8em;
}

.sidebar .author-name {
  display: flex;
  align-items: center;
  font-family: var(--font-mono);
  margin-left: 1.5em;
  padding: .3em;
  padding-left: .8em;
  gap: 8px;
}

.sidebar > .note {
  font-size: .9em;
  font-style: italic;
  color: var(--color-text-secondary);
}

.sidebar > .note > a {
  text-decoration: underline;
}



/* --- Cookie notice
 * ------------------------------------------------------------------------- */

.cookie-notice {
  display: none;
  position: fixed;
  color: var(--color-text-secondary);
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border-muted);
  z-index: 9999;
  bottom: 0;
  left: 0;
  width: calc(100% - 32px);
  max-width: 520px;
  margin: 1em;
  padding: .5em;
  text-align: center;
}



/* --- Before-the-nav notices
 * ------------------------------------------------------------------------- */

.no-js-warning-block {
  background-color: var(--color-warning-bg);
  border-bottom: 1px solid var(--color-warning-border);
  width: 100%;
  font-size: .85rem;
  padding: .5em;
}

.announcement-block {
  display: none;
  background-color: var(--color-important);
  border-bottom: 1px solid var(--color-important-border);
  width: 100%;
  font-size: .85rem;
  padding: .5em;
}

.no-js-warning-block a, .announcement-block a {
  color: inherit;
  text-decoration: underline;
}



/* --- Back to top btn
 * ------------------------------------------------------------------------- */

#back-to-top {
  position: fixed;
  width: 36px;
  height: 36px;
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border-muted);
  border-radius: 100%;
  z-index: 100;
  bottom: 1em;
  right: -5em;
  transition: right 150ms ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#back-to-top > svg {
  fill: var(--color-fg-secondary);
}

#back-to-top.show {
  right: 1em;
}



/* --- Sidebar toggle btn
 * ------------------------------------------------------------------------- */

input#sidebar-toggle {
  display: none;
}

label[for=sidebar-toggle] {
  width: 40px;
  height: 100%;
  cursor: pointer;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  /* The .navbar has a padding-left: 4px;, let's remove that. */
  left: -4px;
  margin-right: -4px;
}

label[for=sidebar-toggle]:hover {
  background-color: var(--color-bg-secondary);
}

label[for=sidebar-toggle] > span {
  margin: auto;
  position: relative;
}

label[for=sidebar-toggle] > span::before,
label[for=sidebar-toggle] > span::after {
  position: absolute;
}

label[for=sidebar-toggle] > span,
label[for=sidebar-toggle] > span::before,
label[for=sidebar-toggle] > span::after {
  content: "";
  display: block;
  background-color: var(--color-fg-secondary);
  border-radius: 4px;
  height: 3px;
  width: 20px;
  transition: all 120ms ease;
}

label[for=sidebar-toggle] > span::before {
  top: -7px;
}

label[for=sidebar-toggle] > span::after {
  bottom: -7px;
}

input#sidebar-toggle:checked ~ label[for=sidebar-toggle] > span::before {
  transform: rotate(-45deg);
  width: 75%;
  top: -5px;
  left: -4px;
}

input#sidebar-toggle:checked ~ label[for=sidebar-toggle] > span::after {
  transform: rotate(45deg);
  width: 75%;
  bottom: -4px;
  left: -4px;
}



/* --- Search
 * ------------------------------------------------------------------------- */

.search {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: auto;
  border: 1px solid var(--color-border);
  border-radius: 2px;
  transition: flex 150ms ease;
}

.search > * {
  height: 30px;
  border: 0;
}

.search input[type="search"] {
  flex: 1;
  box-sizing: border-box;
  transition: width 0.3s ease;
  color: var(--color-text-primary);
  background: var(--color-bg-primary);
}

.search label {
  border-left: 1px solid;
  border-color: inherit;
  display: flex;
  align-items: center;
  padding: .2em;
  fill: var(--color-fg-primary);
}

.search input[type="submit"] {
  display: none;
}

.search:hover, .search:hover label {
  border-width: 2px;
}

#search-state {
  color: var(--color-text-secondary);
}

.search-item {
  display: block;
  width: 100%;
  height: 100%;
  padding: .5em;
  margin: 0;
  margin-top: .2em;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary) !important;
}

.search-item:hover {
  text-decoration: none;
}

.search-item:hover > .search-item-title {
  color: var(--color-text-secondary);
}

.search-item > * {
  margin: 0;
}

.search-item > .search-item-title {
  font-size: 1.5em;
  font-weight: bolder;
}

.search-item > .search-item-path {
  margin-top: .5em;
  font-size: .85em;
  text-decoration: underline;
  color: var(--color-text-secondary);
}

.search-item > .search-item-about {
  margin-top: 2em;
  font-size: .85em;
  color: var(--color-text-secondary);
}

.search-item > .search-item-tags {
  margin-top: .5em;
}


/* --- Navbar layout
 * ------------------------------------------------------------------------- */

.navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  background-color: var(--color-bg-primary);
  border-bottom: 1px solid var(--color-border-muted);
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.navbar > p {
  color: var(--color-text-primary);
  font-weight: bold;
}

.navbar > .search {
  max-width: 600px;
}

.navbar-static-padding {
  width: 100vw;
  height: 40px;
}

.sidebar {
  padding: 1em;
  overflow-y: auto;
}


/* --- Content layout
 * ------------------------------------------------------------------------- */

.content {
  padding: 1em;
}

.content * {
  scroll-margin-top: 50px;  /* reserve additional 10px from the navbar */
}


/* --- Footer layout
 * ------------------------------------------------------------------------- */

.footer {
  border-top: 1px solid var(--color-border-muted);
  color: var(--color-text-secondary);
  font-size: .9rem;
  margin: 2em;
}

.footer .title {
  margin-bottom: 0;
}

.footer .legal-links a {
  margin-left: 1em;
  text-decoration: underline;
}



/* --- For responsiveness
 * ------------------------------------------------------------------------- */

/* Extra small. */
/*@media (max-width: 575px) {
}*/

/* Small. */
/*@media (min-width: 576px) {
}*/

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }

  .sidebar {
    position: fixed;
    z-index: 999;
    top: 40px;
    left: -85vw;
    width: 85vw;
    height: calc(100vh - 40px);
    background-color: var(--color-bg-secondary);
    border-right: 1px solid var(--color-border-muted);
    transition: transform 120ms ease;
  }

  .sidebar-open {
    transform: translateX(85vw);
  }
}

/* Medium. */
@media (min-width: 768px) {
  .main-frame {
    display: flex;
    gap: 3em;
    margin: 0 auto;
    max-width: 720px; /* <93.75% */
  }

  label[for=sidebar-toggle] {
    display: none;
  }

  .sidebar {
    position: sticky;
    top: 40px;
    width: 30%;
    max-height: calc(100vh - 40px);
    overflow-y: auto;
  }

  .content {
    flex: 1;
    width: 70%;
  }
}

/* Large. */
@media (min-width: 992px) {
  .main-frame {
    max-width: 930px; /* <93.75% */
  }
}

/* Extra large. */
@media (min-width: 1280px) {
  .main-frame {
    max-width: 1152px; /* <90% */
  }
}

/* Double extra large. */
@media (min-width: 1440px) {
  .main-frame {
    max-width: 1260px; /* <87.5% */
  }
}



/* --- Print layout.
 * ------------------------------------------------------------------------- */

@media not print {
  .yesprint {
    display: none !important;
  }
}

@media print {
  .noprint {
    display: none !important;
  }

  .page-break {
    break-before: page;
    page-break-before: always;
  }

  body {
    font-size: 12pt !important;
    line-height: 2 !important;
  }

  #main-content {
    margin: 1in;
  }

  .main-view:not(.no-sidebar) {
    left: 0 !important;
  }

  .header-anchor {
    display: none !important;
  }

  .footer {
    border-top: none !important;
  }
}
