@charset 'utf-8';
@import 'fonts.css';
@import 'themes.css';

.with-js .noscript, .no-js .yescript {
  display: none;
}

*, ::before, ::after, html {
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; /* For consistent font sizes. */
}

body {
  color: var(--generic-color);
  background-color: var(--generic-bg-color);
  font-size: 12px;
  font-family: NotoSans;
  line-height: 1.6;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0;
}

blockquote {
  padding: 8px;
  margin: 8px;
  margin-left: 1.5em;
  font-size: 90%;
  color: var(--blockquote-color);
  border-left: 4px solid var(--blockquote-color);
}

details {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid var(--generic-border-color);
  padding: 2px;
}

summary {
  padding: 2px;
}

details[open] summary {
  border-bottom: 1px solid var(--generic-border-color);
}

a {
  color: var(--anchor-color);
  text-decoration: none;
}

a::visited {
  color: var(--anchor-visited-color);
}

a:hover {
  text-decoration: underline;
}

sup, a.footnote-ref {
  position: relative;
  top: -0.25em;
  font-size: 85%;
}

sub, a.footnote-backref {
  position: relative;
  bottom: -0.25em;
  font-size: 85%;
}

.highlight:not(.nohighlight), mark {
  background-color: var(--highlight-bg);
}



/* --- Headings and permalinks
 * ------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-weight: 1200;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 16px;
}

.header-anchor {
  position: relative;
  top: -12px;
  font-size: 50%;
  display: none;
}

:hover > .header-anchor {
  display: inline-block;
}


/* --- Snippets and inline code
 * ------------------------------------------------------------------------- */

code {
  font-family: SourceCodePro;
}

.snippet {
  font-family: SourceCodePro;
  max-width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  border: 1px solid var(--generic-border-color);
  border-radius: 2px;
  padding: 4px;
}

.snippet pre {
  margin: 0;
}



/* --- Math
 * ------------------------------------------------------------------------- */

.katex .katex-mathml {
  display: none;
}

.katex {
  color: var(--math-text-color);
}



/* --- Task lists
 * ------------------------------------------------------------------------- */

.contains-task-list {
  list-style-type: none;
  list-style: none;
  padding-left: 2em;
  margin-top: 10px;
}

.task-list-item-checkbox {
  display: inline-block;
  vertical-align: middle;
}

.task-list-item-checkbox:checked {
  background-color: var(--accent-color);
}



/* --- Input types
 * ------------------------------------------------------------------------- */

input[type=checkbox] {
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid var(--generic-border-color);
  border-radius: 1px;
  background-color: var(--transparent-color);
}

input[type=checkbox]:checked {
  background-color: var(--accent-color);
}

input[type=checkbox]:checked::after {
  position: absolute;
  top: 0;
  left: 3px;
  content: '✔';
  color: #fff;
  font-size: 10px;
}

select {
  color: var(--generic-color);
  background-color: var(--transparent-color);
}



/* --- Tables
 * ------------------------------------------------------------------------- */

div.table-container {
  overflow: hidden;
  overflow-x: auto;
}

table {
  table-layout: auto;
}

table, th, td, tr, thead, tbody {
  border: 1px solid var(--generic-border-color);
  border-collapse: collapse;
  padding: 8px;
}

th, thead {
  font-size: 110%;
}

tbody {
  font-size: 100%;
}



/* --- Definition Lists
 * ------------------------------------------------------------------------- */

dt {
  font-size: 110%;
}

dd {
  margin-left: 3em;
}



/* --- Collapsible sections (not spoilers)
 * ------------------------------------------------------------------------- */

.section:not([data-open]):not(:has(:target)) > :not(.section-title:first-child)
{
  /* We don't know the display type of some elems.
     Let's use :not([data-open]) */
  display: none;
}

.section > .section-title:first-child::before {
  content: '▶';
}

.section[data-open] > .section-title:first-child::before {
  content: '▼';
}

.section > .section-title:first-child {
  margin-top: 1em;
  font-size: 18px;
  font-weight: 1200;
  padding: 4px;
  border-bottom: 1px solid var(--generic-border-color);
}



/* --- Sidebar contents
 * ------------------------------------------------------------------------- */

.sidebar a {
  color: var(--generic-color);
}

.toc-item {
  margin-left: 1.5em;
  padding-left: 0;
}

.toc-item > a {
  color: var(--generic-color);
  padding: 5px;
  padding-left: 10px;
  display: block;
  text-decoration: none;
}

.toc-item > a.current {
  padding-left: 8px;
  border-left: 2px solid var(--anchor-color);
  color: var(--anchor-color);
}

.sidebar .xtra-links {
  display: block;
  text-decoration: underline;
  margin-left: 1.5em;
}

.sidebar .author-name {
  display: flex;
  align-items: center;
  font-family: SourceCodePro;
  margin-top: 8px;
  margin-left: 1.5em;
  gap: 8px;
}



/* --- No-JS warning
 * ------------------------------------------------------------------------- */

.no-js-warning-block {
  background-color: var(--no-js-warning-bg);
  border: 2px solid var(--no-js-warning-border);
  border-radius: 1px;
  padding: 8px;
}



/* --- Admonitions
 * ------------------------------------------------------------------------- */

div.admonition {
  border-left: 3px solid;
  background-color: var(--generic-bg-color);
  padding: 8px;
  width: 95%;
  border-radius: 1px;
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  font-size: 90%;
}

p.admonition-title {
  font-size: 110% !important;
  font-weight: bold;
  margin: 2px;
}

div.admonition.tip {
  background-color: var(--admonition-tip-bg);
  border-left-color: var(--admonition-tip-border);
}

div.admonition.attention {
  background-color: var(--admonition-attention-bg);
  border-left-color: var(--admonition-attention-border);
}

div.admonition.danger {
  background-color: var(--admonition-danger-bg);
  border-left-color: var(--admonition-danger-border);

}
div.admonition.error {
  background-color: var(--admonition-error-bg);
  border-left-color: var(--admonition-error-border);
}

div.admonition.hint {
  background-color: var(--admonition-hint-bg);
  border-left-color: var(--admonition-hint-border);
}

div.admonition.important {
  background-color: var(--admonition-important-bg);
  border-left-color: var(--admonition-important-border);
}

div.admonition.note {
  background-color: var(--admonition-note-bg);
  border-left-color: var(--admonition-note-border);
}

div.admonition.warning {
  background-color: var(--admonition-warning-bg);
  border-left-color: var(--admonition-warning-border);
}

div.admonition.caution {
  background-color: var(--admonition-caution-bg);
  border-left-color: var(--admonition-caution-border);
}



/* --- Content layout
 * ------------------------------------------------------------------------- */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding-left: 4px;
  padding-right: 4px;
  background-color: var(--generic-bg-color);
  border-bottom: 1px solid var(--generic-border-color);
}

.navbar > p {
  font-weight: bolder;
}

.navbar > a {
  height: 40px;
  display: flex;
  align-items: center;
}

.view-wrapper {
  width: 100vw;
  /* Last resort... Prevents the .main-view
     from overflowing */
  contain: layout paint;
}

.main-view:not(.no-sidebar) {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  left: -90%;
  transition: left 120ms ease;
}

.main-view:not(.no-sidebar) > * {
  flex-shrink: 0;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  width: 90%;
  max-height: calc(100vh - 40px);
  background-color: var(--generic-bg-color);
  border-right: 1px solid var(--generic-border-color);
  overflow: auto;
  overflow-x: hidden;
  padding: 8px;
}

.content {
  width: 100%;
  padding: 8px;
  min-height: calc(100vh - 40px);
}

.content * {
  scroll-margin-top: 50px;
}

.footer {
  background-color: var(--generic-bg-color);
  border-top: 1px solid var(--generic-border-color);
  font-size: 90%;
  padding: 8px;
}

.footer > .links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer > .links > div {
  margin-bottom: 1em;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;  /* Adjust this to make it responsive. */
  text-align: center;
}

.footer > .description-grid {
  display: flex;
  flex-direction: column;
}

.footer > .description-grid > .brand-div > * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer > .description-grid > * {
  padding: 8px;
}

.footer > .description-grid > .license-notice {
  flex: 1;
}

.footer > .description-grid > .brand-div > img {
  display: block;
}

.footer a {
  text-decoration: underline;
  color: var(--generic-color);
}



/* --- Back to top btn
 * ------------------------------------------------------------------------- */

#back-to-top {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 1px solid var(--back-to-top-color);
  border-radius: 100%;
  background-color: var(--transparent-color);
  z-index: 100;
  bottom: 1em;
  right: -5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: right 150ms ease;
}

#back-to-top > svg {
  fill: var(--back-to-top-color);
}



/* --- Sidebar toggle btn
 * ------------------------------------------------------------------------- */

input#sidebar-toggle {
  display: none;
}

label[for=sidebar-toggle] {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  /* The .navbar has a padding-left: 4px;, let's remove that. */
  left: -4px;
  margin-right: -4px;
}

label[for=sidebar-toggle]:hover {
  background-color: var(--transparent-color);
}

label[for=sidebar-toggle] > span {
  margin: auto;
  position: relative;
}

label[for=sidebar-toggle] > span::before,
label[for=sidebar-toggle] > span::after {
  position: absolute;
}

label[for=sidebar-toggle] > span,
label[for=sidebar-toggle] > span::before,
label[for=sidebar-toggle] > span::after {
  content: "";
  display: block;
  background-color: var(--menu-hamburger-color);
  border-radius: 4px;
  height: 3px;
  width: 20px;
  transition: all 120ms ease;
}

label[for=sidebar-toggle] > span::before {
  top: -7px;
}

label[for=sidebar-toggle] > span::after {
  bottom: -7px;
}

input#sidebar-toggle:checked ~ label[for=sidebar-toggle] > span::before {
  transform: rotate(-45deg);
  width: 75%;
  top: -5px;
  left: -4px;
}

input#sidebar-toggle:checked ~ label[for=sidebar-toggle] > span::after {
  transform: rotate(45deg);
  width: 75%;
  bottom: -4px;
  left: -4px;
}



/* --- Search
 * ------------------------------------------------------------------------- */

.search {
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: auto;
  border: 1px solid var(--generic-border-color);
  border-radius: 2px;
  transition: flex 150ms ease;
}

.search > * {
  border: 0;
}

.search input[type="search"] {
  flex: 1;
  box-sizing: border-box;
  transition: width 0.3s ease;
  color: var(--generic-color);
  background: var(--generic-bg-color);
}

.search label {
  border-left: 1px solid;
  border-color: inherit;
  display: flex;
  align-items: center;
  padding: 2px;
}

.search input[type="submit"] {
  display: none;
}

.search:hover, .search:hover label {
  border-width: 2px;
}



/* --- For responsiveness
 * ------------------------------------------------------------------------- */

/* Default styles are already made for this size range. */
/*@media (max-width: 480px) {
}*/

/* Larger phones, tablets, etc. */
@media (min-width: 481px) {
  .footer > .links > div {
    flex-basis: 50%;
  }

  .footer > .description-grid {
    flex-direction: row;
    align-items: center;
  }

  .footer > .description-grid > .license-notice {
    text-align: center;
  }
}

/* Larger tablets, laptops, etc. */
@media (min-width: 769px) {
  input#sidebar-toggle, label[for=sidebar-toggle] {
    display: none;
  }

  .main-view:not(.no-sidebar) {
    left: 0;
  }

  .main-view:not(.no-sidebar) > .sidebar {
    width: 30%;
    border-right: none;
  }

  .main-view:not(.no-sidebar) > .content {
    width: 70%;
  }

  .footer > .links > div {
    flex-basis: calc(100% / 3);
  }
}

/* Desktop, TVs, and any other larger screens. */
@media (min-width: 1281px) {
  .footer > .links > div {
    flex-basis: 25%;
  }
}
