@charset 'utf-8';
@import 'atom-one-light.css';
@import 'atom-one-dark.css';

@media screen {

.theme-light {
  /* Generics. */
  --generic-color:              #444;
  --generic-border:             #aaa;
  --generic-bg:                 #fff;
  --accent-color:               #b08d57;
  --fade-color:                 #eee;
  --transparent-color:          #8882;
  --math-text-color:            #444;
  --highlight-bg:               #ff4;

  /* Specific elements. */
  --anchor-color:               #0080bb;
  --anchor-visited-color:       #005f9a;
  --blockquote-color:           #888;
  --menu-hamburger-color:       #888;
  --back-to-top-color:          #888;
  --footer-bg:                  #eee;
  --no-js-warning-bg:           #ffe299;
  --no-js-warning-border:       #f3ae00;
  --announcement-bg:            #abf0ff;
  --announcement-border:        #00b6de;

  /* Admonition colors. */
  --callout-bg:                 #dddddd;
  --callout-border:             #444444;
  --callout-note-bg:            #b3e5fc;
  --callout-note-border:        #0277bd;
  --callout-hint-bg:            #b3e5fc;
  --callout-hint-border:        #0277bd;
  --callout-tip-bg:             #c8e6c9;
  --callout-tip-border:         #2e7d32;
  --callout-important-bg:       #e1bee7;
  --callout-important-border:   #6a1b9a;
  --callout-attention-bg:       #ffe0b2;
  --callout-attention-border:   #ef6c00;
  --callout-caution-bg:         #ffe0b2;
  --callout-caution-border:     #ef6c00;
  --callout-warning-bg:         #ffe0b2;
  --callout-warning-border:     #ef6c00;
  --callout-error-bg:           #ffc7c7;
  --callout-error-border:       #ff4a4a;
  --callout-danger-bg:          #ffc7c7;
  --callout-danger-border:      #ff4a4a;
}

.theme-dark {
  /* Generics. */
  --generic-color:              #ccc;
  --generic-border:             #555;
  --generic-bg:                 #1e1e1e;
  --accent-color:               #b08d57;
  --fade-color:                 #2a2a2a;
  --transparent-color:          #8882;
  --math-text-color:            #ccc;
  --highlight-bg:               #660;

  /* Specific elements. */
  --anchor-color:               #00bfff;
  --anchor-visited-color:       #87ceeb;
  --blockquote-color:           #999;
  --menu-hamburger-color:       #888;
  --back-to-top-color:          #888;
  --footer-bg:                  #111;
  --no-js-warning-bg:           #5c4820;
  --no-js-warning-border:       #f3ae00;
  --announcement-bg:            #2c3a3f;
  --announcement-border:        #00b6de;

  /* Admonition colors. */
  --callout-bg:                 #333333;
  --callout-border:             #dddddd;
  --callout-note-bg:            #082c3c;
  --callout-note-border:        #0b95e7;
  --callout-hint-bg:            #082c3c;
  --callout-hint-border:        #0b95e7;
  --callout-tip-bg:             #102d11;
  --callout-tip-border:         #42a146;
  --callout-important-bg:       #241427;
  --callout-important-border:   #aa5adb;
  --callout-attention-bg:       #3a2a12;
  --callout-attention-border:   #fb9540;
  --callout-caution-bg:         #3a2a12;
  --callout-caution-border:     #fb9540;
  --callout-warning-bg:         #3a2a12;
  --callout-warning-border:     #fb9540;
  --callout-error-bg:           #2f1313;
  --callout-error-border:       #ff4a4a;
  --callout-danger-bg:          #2f1313;
  --callout-danger-border:      #ff4a4a;
}

} /* @media screen */

@media print {

html {
  /* Generics. */
  --generic-color:              #000;
  --generic-border:             #aaa;
  --generic-bg:                 #fff;
  --accent-color:               #b08d57;
  --fade-color:                 #eee;
  --transparent-color:          #8882;
  --math-text-color:            #000;
  --highlight-bg:               #ff4;

  /* Specific elements. */
  --anchor-color:               #0080bb;
  --anchor-visited-color:       #005f9a;
  --blockquote-color:           #888;
  --footer-bg:                  #fff;

  /* Admonition colors. */
  --callout-bg:                 #dddddd;
  --callout-border:             #444444;
  --callout-note-bg:            #b3e5fc;
  --callout-note-border:        #0277bd;
  --callout-hint-bg:            #b3e5fc;
  --callout-hint-border:        #0277bd;
  --callout-tip-bg:             #c8e6c9;
  --callout-tip-border:         #2e7d32;
  --callout-important-bg:       #e1bee7;
  --callout-important-border:   #6a1b9a;
  --callout-attention-bg:       #ffe0b2;
  --callout-attention-border:   #ef6c00;
  --callout-caution-bg:         #ffe0b2;
  --callout-caution-border:     #ef6c00;
  --callout-warning-bg:         #ffe0b2;
  --callout-warning-border:     #ef6c00;
  --callout-error-bg:           #ffc7c7;
  --callout-error-border:       #ff4a4a;
  --callout-danger-bg:          #ffc7c7;
  --callout-danger-border:      #ff4a4a;
}

} /* @media print */
