<!DOCTYPE html>

<!-- Hand-forged with VYT Hub's bespoke site builder. -->

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      class="no-js theme-light"><head>

  {% block head %}
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport"
     content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <meta name="theme-color" content="#ffffff" />

  {# Enable eruda in dev mode. -#}
  {% if config.DEVMODE  -%}
  <script type="text/javascript" src="{{ 'assets/eruda.min.js' | url }}"
          onload="eruda.init()"></script>
  {%- endif %}

  {# Page info. -#}
  <script type="text/javascript">
  var pageInfo = {{ pageInfo | json_stringify | safe }}
  </script>

  {# Load as early as possible, so we can do some updates
     before rendering. -#}
  <script type="text/javascript" src="{{ 'assets/main.js' | url }}"></script>

  {%- include '_layout/metadata.njk' %}

  {%- include '_layout/resources.njk' %}

  {% endblock %}

</head>
<body>

  {# Fixed floating stuff. -#}
  {%- include '_layout/back-to-top.njk' %}
  {%- include '_layout/cookie-notice.njk' %}

  <div class="page-frame">

    {# Notices and navbar. -#}
    {%- include '_layout/noscript.njk' %}
    {%- include '_layout/announcement.njk' %}
    {%- include '_layout/navbar.njk' %}

    <div class="view-wrapper">
      <div class="main-view{{ ' no-sidebar' if doc.navHidden else '' }}">

        {% if not doc.navHidden %}
        {%- include '_layout/sidebar.njk' %}
        {% endif %}

        <div class="content">
          {%- include '_layout/breadcrumbs.njk' %}

          <div id="main-content" role="main">
            {% block content -%}
            {{ htmlContent | safe }}
            {%- endblock %}
          </div>
        </div>

      </div>
    </div>

  </div>

  {# The footer must be outside the .page-frame. This is
     for the footer-pushing-navbar effect. -#}
  {%- include '_layout/footer.njk' %}

</body></html>
