<!DOCTYPE html>

<!-- Hand-forged with VYT Hub's bespoke site builder. -->

<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      class="no-js theme-light">

  <head>
    <%- include('head') %>
  </head>

  <body>
    <%- include('body') %>
  </body>

</html>
