{%- include '_layout/back-to-top.njk' %}

<div clsss="page-frame">

  {%- include '_layout/navbar.njk' %}

  <div class="view-wrapper">
    <div class="main-view{{ ' no-sidebar' if doc.navHidden else '' }}">

      {% if not doc.navHidden %}
      {%- include '_layout/sidebar.njk' %}
      {% endif %}

      <div class="content">
        {%- include '_layout/noscript.njk' %}
        {%- include '_layout/breadcrumbs.njk' %}

        <div id="main-content">
          {{ htmlContent | safe }}
        </div>
      </div>

    </div>
  </div>
</div>

{%- include '_layout/footer.njk' %}
