<div class="cookie-notice noprint">
  <p>We use cookies to enhance your browsing experience. By clicking
  "Understood", you acknowledge that you have read our
  <a href="{{ 'cookie.html' | url }}">cookie statement</a> and
  consent to our use of cookies. <a href="{{ 'privacy.html' | url }}">
  Learn more about your privacy.</a></p>

  <button class="primary understood" aria-label="Understood">
    Understood</button>
</div>
