<div class="footer noprint">

  <h4 class="title">VYT Hub</h4>
  <p class="tagline"><em>A personal knowledge hub.</em></p>

  <p class="legal-links" role="contentinfo" aria-label="Legal">
    &copy; 2023-2025 Vincent Yanzee J. Tan.
    <a href="{{ 'license.html' | url }}">License</a>
    <a href="{{ 'disclaimer.html' | url }}">Disclaimer</a>
    <a href="{{ 'privacy.html' | url }}">Privacy</a>
    <a href="{{ 'terms.html' | url }}">Terms</a>
    <a href="{{ 'cookie.html' | url }}">Cookies</a>
    <a target="_blank" href="{{ 'contact.html' | url }}">Contact</a>
  </p>

</div>
