<div class="footer noprint">

  <h3>Legal</h3>

  <p class="footer-links" role="navigation" aria-label="Footer Links">
    &copy; 2023-2025 Vincent Yanzee J. Tan.
    <a href="{{ 'license.html' | url }}">License</a>
    <a href="{{ 'disclaimer.html' | url }}">Disclaimer</a>
    <a href="{{ 'privacy.html' | url }}">Privacy</a>
    <a href="{{ 'terms.html' | url }}">Terms</a>
    <a href="{{ 'cookie.html' | url }}">Cookies</a>
    <a target="_blank" href="{{ 'contact.html' | url }}">Contact</a>
  </p>

</div>
