<!-- metadata -->
<title>{{ pageInfo.title }}</title>
<meta name="description" content="{{ pageInfo.about }}" />
<meta name="revised" content="{{ pageInfo.updated }}" />
<meta name="author" content="{{ pageInfo.authors.join(', ') }}" />

{% if not pageInfo.dontIndex %}
<!-- open graph -->
<meta property="og:title" content="{{ pageInfo.title }}" />
<meta property="og:description" content="{{ pageInfo.about }}" />
<meta property="og:url" content="{{ pageInfo.canonical }}" />
<meta property="og:site_name" content="VYT Hub" />
<meta property="og:type" content="website" />
<meta name="og:locale" content="en_US" />

<!-- twitter -->
<meta property="twitter:title" content="{{ pageInfo.title }}" />
<meta name="twitter:card" content="summary" />

<!-- google and other seo -->
<meta name="language" content="en" />
<meta name="robots" content="index,follow" />
<meta name="generator" content="VYT Hub Static Generator" />
<meta name="keywords" content="{{ pageInfo.tags.join(', ') }}" />
<link rel="canonical" href="{{ pageInfo.canonical }}" />
<link rel="EditURI" href="https://github.com/vytdev/vytdev.github.io/edit/master/src/{{ pageInfo.srcPath }}" />
{% endif %}

{% if pageInfo.prevPage -%}
<link rel="prev" href="{{ pageInfo.prevPage }}" />{% endif %}
{% if pageInfo.nextPage -%}
<link rel="next" href="{{ pageInfo.nextPage }}" />{% endif %}

{% if not pageInfo.dontIndex %}
<script type="application/json+ld">
{{ genJsonLd() | safe }}
</script>
{% endif %}
