<div class="navbar noprint" role="navigation" aria-label="Main navigation">

  {# Sidebar toggle #}
  {% if not uiOpts.noSidebar -%}
  <input type="checkbox" id="sidebar-toggle" aria-expanded="false"
      aria-label="Toggle sidebar" />
  <label class="yescript" for="sidebar-toggle">
    <span aria-hidden="true"></span>
  </label>
  {%- endif %}

  {# Logo #}
  <a href="https://{{ config.SITE }}">
    <img alt="logo" type="image/svg+xml" width="25" height="25"
         src="{{ 'assets/logo.svg' | url }}" />
  </a>
  <p>VYT Hub</p>

  {# Search bar #}
  {% if not uiOpts.noSearch -%}
  {% include '_layout/searchbar.njk' %}
  {%- endif %}

</div>

<div class="navbar-static-padding"></div>
