<div class="navbar">

  <% if (!doc.navHidden) { %>
  <input type="checkbox" id="sidebar-toggle" />
  <label for="sidebar-toggle"><span></span></label>
  <% } %>

  <a href="https://<%= config.SITE_ADDRESS %>">
    <img alt="logo" type="image/svg+xml" width="25" height="25"
         src="<%= url('assets/logo.svg') %>" />
  </a>

  <p>VYT Hub</p>

</div>
