<div class="no-js-warning-block noscript">
<h3>JavaScript is disabled!</h3>
<p>Some of VYT Hub's features might not work. Those are:</p>

<ul>
<li>Themes</li>
<li>Sidebar navigation</li>
<li>Scroll to top button</li>
<li>Keyboard shortcuts</li>
<li>Search</li>
<li>... and more.</li>
</ul>

<p>I'd highly recommended enabling JavaScript for the best experience.
   Rest assured, all your data stays on your device and is never sent
   across the network. For details, please see our
   <a href="{{ 'privacy.html' | url }}">privacy policy.</a></p>
</div>
