<div class="no-js-warning-block noscript noprint">
  JavaScript is disabled. Some features like search, theming, and
  collapsible sections won't work. If you're concerned about privacy,
  see our <a href="{{ 'privacy.html' | url }}">privacy policy</a>.
</div>
