
<!-- preload -->
<link rel="preload" as="font" href="{{ 'assets/fonts/NotoSans-Regular.ttf' | url }}" />
<link rel="preload" as="font" href="{{ 'assets/fonts/SourceCodePro-Regular.ttf' | url }}" />

<link rel="preload" as="style" type="text/css" href="{{ 'assets/main.css' | url }}" />
<link rel="preload" as="style" type="text/css" href="{{ 'assets/katex.min.css' | url }}" />
<link rel="preload" as="style" type="text/css" href="{{ 'assets/themes.css' | url }}" />

<link rel="preload" as="style" type="text/css" href="{{ 'assets/atom-one-light.css' | url }}" />
<link rel="preload" as="style" type="text/css" href="{{ 'assets/atom-one-dark.css' | url }}" />

<link rel="preload" as="image" type="image/x-icon" href="{{ 'favicon.ico' | url }}" />

<!-- resources -->
<link rel="manifest" href="{{ 'manifest.json' | url }}" />
<link rel="search" type="application/opensearchdescription+xml" href="{{ 'opensearch.xml' | url }}" />
<link rel="icon" type="image/x-ico" href="{{ 'favicon.ico' | url }}" />

<link rel="stylesheet" type="text/css" href="{{ 'assets/main.css' | url }}" />
<link rel="stylesheet" type="text/css" href="{{ 'assets/katex.min.css' | url }}" />
<link rel="stylesheet" type="text/css" href="{{ 'assets/themes.css' | url }}" />
