
<!-- preload what's necessary -->
<link rel="preload" as="style" type="text/css" href="{{ 'assets/atom-one-light.css' | url }}" />
<link rel="preload" as="style" type="text/css" href="{{ 'assets/atom-one-dark.css' | url }}" />
<link rel="preload" as="style" type="text/css" href="{{ 'assets/themes.css' | url }}" />


<!-- resources -->
<link rel="manifest" href="{{ 'manifest.json' | url }}" />
<link rel="search" type="application/opensearchdescription+xml" href="{{ 'opensearch.xml' | url }}" />
<link rel="icon" type="image/x-ico" href="{{ 'favicon.ico' | url }}" />

<link rel="stylesheet" type="text/css" href="{{ 'assets/main.css' | url }}" />
<link rel="stylesheet" type="text/css" href="{{ 'assets/katex.min.css' | url }}" />

<script type="text/javascript" src="{{ 'assets/main.js' | url }}" defer></script>

{# Enable eruda in dev mode. -#}
{% if config.DEVMODE  -%}
<script type="text/javascript" src="{{ 'assets/eruda.min.js' | url }}"
        onload="eruda.init()"></script>
{%- endif %}
