{% if not uiOpts.noSidebar %}
<div class="sidebar noprint" role="complementary" aria-label="Sidebar content"
     aria-hidden="true">

<div class="theme-chooser">
  <label for="theme">Theme</label>
  <select id="theme" name="theme" aria-label="Choose theme">
    <option value="auto">Auto</option>
    <option value="light">Light</option>
    <option value="dark">Dark</option>
  </select>
</div>


<p><b>{{ pageInfo.title }}</b>.
  {{ pageInfo.about }}</p>


<p class="article-dates">
   Published {{ pageInfo.published }} &bull;
   Updated {{ pageInfo.updated }}
</p>


<p>
{% for tag in pageInfo.tags %}
<span class="key-tag">{{ tag }}</span>
{% endfor %}
</p>


{% if not uiOpts.noToc %}
<h2>In this page</h2>
{{ genToc() | safe }}
{% endif %}


<h2>Contributors</h2>

  {% for name in pageInfo.authors %}
  <a class="author-name" href="https://github.com/{{ name }}"
       target="_blank" aria-label="Author {{ name }}">
  <img width="30px" height="30px" alt="avatar"
       src="https://avatars.githubusercontent.com/{{ name }}" />
  {{ name }}
  </a>
  {% endfor %}

</div>
{% endif %}
