{% if not doc.navHidden %}
<div class="sidebar">

<label for="theme">Theme</label>
<select id="theme" name="theme">
  <option value="auto">Auto</option>
  <option value="light">Light</option>
  <option value="dark">Dark</option>
</select>

<p><b>{{ doc.title }}</b>.
  {{ doc.about }}</p>

<p class="article-dates">
   Published {{ doc.published }} &bull;
   Updated {{ doc.updated }}
</p>

<p>
{% for tag in doc.tags %}
<span class="key-tag">{{ tag }}</span>
{% endfor %}
</p>


{% if not doc.noToc %}
<h2>In this page</h2>
{{ htmlToc | safe }}
{% endif %}


<h2>Contributors</h2>

  {% for name in doc.authors %}
  <a class="author-name" href="https://github.com/{{ name }}"
      target="_blank">
  <img width="30px" height="30px" alt="avatar"
       src="https://avatars.githubusercontent.com/{{ name }}" />
  {{ name }}
  </a>
  {% endfor %}

</div>
{% endif %}
