{% extends "base.jinja2" %}

{% block head %}
<style type="text/css">
	.nav {
		padding-left: 8px !important;
	}

	label[for=sidebar-toggle] {
		display: none;
	}

	#content {
		flex: 1;
		padding: 8px;
	}
</style>
{% endblock %}

{% block content %}
	<div id="content">
		{{ content }}
	</div>
{% endblock %}

